* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    margin-bottom: 30px;   
}
/* Page header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Page header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Page header*/
.header h1 .seo {
    color: #d9dcd6;
}
/* Page header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Web links*/
a { 
    margin-right:15px;
    color: #ffffff;
    text-decoration: none;
}

/* Section paragrapg*/
p {
    padding-top: 20px;
}
/*page main image*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Class to float the image*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* Class to float the image*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*Page main Section*/
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px; 
}
/*Section headers*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    margin-right: 200px;
    font-size: 36px;
}
/*Section headers*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    margin-right: 500px;
    font-size: 36px;
}
/*Section headers*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 36px;
}
/*Section paragraph*/
#search-engine-optimization p {
    Margin-right: 240px;
    padding-bottom: 20px;
}
/*Section paragraph*/
#online-reputation-management p {
    Margin-right: 240px;
    padding-bottom: 20px;
}
/*Section paragraph*/
#social-media-marketing p {
    Margin-right: 240px;
    padding-bottom: 20px;
}
/* Section Article*/
#search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Section Article*/
#online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Section Article*/
#social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 270px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Right Column*/
.benefit {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;

}
/* Right column first header*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Right column second header*/
.benefit-brand {
    margin-bottom: 10px;
    text-align: center;
}
/* Right column first header*/
.benefit-cost {
    margin-bottom: 10px; 
    text-align: center;
}
/* right column paragraph*/
aside > p{
    margin-top:30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: small;
}
/*right column section*/
.benefit-lead {
    padding-top: 20px;
    margin: 0;
    color: #ffffff;
    text-align: center;
}
/*right column section*/
.benefit-brand {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ffffff;
}
/*right column section*/
.benefit-cost {
    padding-top: -30px;
    margin-bottom: 30px;
    color: #ffffff;
}
/*Section Image*/
#search-engine-optimization img {
    max-height: 250px;
    max-width: 250px;
}
/*Section Image*/
#online-reputation-management img {
    max-height: 250px;
    max-width: 250px;
}
/*Section Image*/
#social-media-marketing img {
    max-height: 250px;
    max-width: 250px;
}
/*Right column Image*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Right column Image*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Right column Image*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
*/